.greeting,.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.clock{
  font-size: 4vw;
}

.greeting{
  font-size:3vw;
}


.App{
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
}
