.greeting,
.clock,
.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.remove:hover {
  cursor: pointer;
  stroke: rgb(141, 27, 19);
}

.add:hover {
  stroke: rgb(85, 143, 19);
  cursor: pointer;

}

.remove:hover {
  stroke: rgb(245, 28, 13);
}


.remove {
  float: right;
  position: absolute;
  right: 0;
  top: 2px;
}

.clock {
  font-size: 4vw;
  font-weight: lighter;
}

.greeting,
input {
  font-size: 3vw;
}

/* close icon  */




input {
  text-decoration: none;
  border: none;
  background: transparent;
  width: 3em;
}

textarea:focus,
input:focus {
  outline: none;
}


.App {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  background-color: rgb(46, 46, 46);
}




.todo>button:nth-child(2) {
  font-size: larger;
  background: #9d9b9b;
  border: transparent;
  color: white;
  padding: 0.5em;
  border-radius: 10px;
}



.todo {
  text-align: center;
}



ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 87%;
  margin: auto;
  overflow: scroll;
  height: 15vw;
  height: 16vw;
  padding: 2vw 1vw;
}

.todo>input:nth-child(2) {
  background: #f1f1f1d6;
  width: 6em;
  border-radius: 7px 0px 0px 7px;
  margin-top: 2vw;
  height: 3.7vw;
}


.todo {
  position: relative;
}

/* Element | http://localhost:3000/ */

.todo>button:nth-child(3) {
  height: 3.8vw;
  border-radius: 0px 7px 7px 0px;
  border: transparent;
  background: repeating-linear-gradient(45deg, #527eb5, #f1dede8a 100px);
  position: absolute;
  margin-top: 2vw;
}

/* Element | http://localhost:3000/ */

.icon {
  width: 2vw;

}


/* Inline #9 | http://localhost:3000/ */

.App {
  /* height: 50vh; */
  /* top: 5%; */
  /* background: url(')'); */
  height: 100vh;
  /* background: url('https://images.unsplash.com/photo-1505948227007-20330e2af8ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjYzNzczfQ'); */
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
}

.greeting,
.clock,
.todolist {
  position: sticky;
}

/* Element | http://localhost:3000/ */

.todo>h2:nth-child(1) {
  font-size: 5vh;
  font-weight: inherit;
}

/* Inline #9 | http://localhost:3000/ */

li {
  /* box-shadow: rgb(99, 128, 0) 0.9em 0.9em; */
  /* border-radius: 15px; */
  box-shadow: #6a87af 0.5em 0.5em ;
  border-radius: 15px;
  border-color: currentcolor;
  list-style-image: none;
  background: rgba(93, 95, 98, 0.59) none repeat scroll;
  filter: blur(px);
  color: white;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-left: 2em;
  padding: 50px;
  height: 2em;
  top: 1px;
  width: 11vw;
  overflow: scroll;
  z-index: 3;
}

p {
  width: 100%;
  height: 22%;
  text-align: center;
  font-size: 1.2vw;
  position: absolute;
  margin: auto;
}

input::placeholder {
  font-size: 0.6em;
}

#name {
  text-shadow: 4px 0px 3px #7d7ff3;
  /* background: currentColor; */
  border-left: 2px solid #f37e7e;
  color: white;
  font-size: 0.6em;
}

.greeting,
.clock,
.todolist {
  margin-top: 3vh;
}

.todo>h2:nth-child(1) {
  font-size: 5vh;
  font-weight: inherit;
  padding: 0px;
  margin: 0 auto;
}

.clearName {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 0;
  right: -4px;
  padding: 20px
}
